[Unit]
Description=Audio BOOK Updater service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/api/abook/updateApp
User=api
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target