[Unit]
Description=Audio BOOK player service
After=abookUpdate.service
Wants=abookUpdate.service

[Service]
ExecStart=/home/api/abook/launch
User=api

[Install]
WantedBy=multi-user.target